  <div id="login">

          <img src="/assets/curvature_logo.png" style="display: block;margin-left:auto;margin-right:auto "></img>

          <h2> Log In </h2>

          <% if flash[:error] %>
                  <p class="error"> <%= flash[:error] %></p>
          <% end %>

          <% if flash[:notice] %>
                  <p class="notice"> <%= flash[:notice] %></p>
          <% end %>
          
          <% if flash[:unsupported] %>
                  <p class="error"> <%= flash[:unsupported] %></p>
                  <% if @unsupported %>
                  	<p class="error">Please upgrade to a <a href="http://www.google.com/chrome">modern browser</a> for the best experience.</p>
                  <% end %>
          <% end %>

          <%= form_tag(:controller => "logins", :action => "create") do %> 
                  <div class="field">
                          <%= label_tag(:username) %>
                          <%= text_field_tag(:username) %>
                  </div>
                  <div class="field">
                          <%= label_tag(:password) %> <br />
                          <%= password_field_tag(:password) %> 
                  </div>
                  <div class="actions">
                          <%= submit_tag "Login" , :class => "button blue" %>
                  </div>
          <% end %>

  </div>

  <img id="ciscologo" src="/assets/cisco_logo.png">
