<%= form_for @user, html: { class:"form-edit", role:"form"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :firstname, :class => "form-control", :type => "string", :placeholder => "Firstname"%>
  <%= f.text_field :surname, :class => "form-control", :type => "string", :placeholder => "Surname"%>
  <%= f.text_field :email, :class => "form-control", :type => "email", :placeholder => "Email"%>
  <%= f.text_field :username, :class => "form-control", :type => "string", :placeholder => "Username"%>
  <%= f.text_field :password, :class => "form-control", :type => "password", :placeholder => "Password"%>


  <button class="btn btn-lg btn-primary btn-block" name="commit" type="submit"><%= var %> User</button>
<% end %>
