<%= render 'menubar' %>

<div class='container'>
  <h2 class='container'>Editing user</h2>

  <%= render 'form', var: "Edit" %>

  <%= render 'table_environments' %>

  <%= render 'form_environments' %>

  <%= link_to 'Return to Display', meta_path %>
</div>
