<h1>Editing user</h1>

<%= render 'form' %>

<p> 
<strong> Environments: </strong>
<table>
<% @user.environments.each do |environment| %>
  <tr>
    <td> <%= environment.name %> </td>
    <td> <%= environment.ip %> </td>
    <td> <%= environment.username %> </td>
    <td> <%= environment.password %> </td>
    <td> <%= link_to 'Delete', [environment.user, environment],
                   method: :delete,
                  data: { confirm: 'Are you sure?' } %> </td>
  </tr>
<% end %> 
</table>

<%= render 'environments' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
