<%= form_for(@container, :remote => true) do |t| %>
  <% if @container.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@container.errors.count, "error") %> prohibited this container from being saved:</h2>

      <ul>
      <% @container.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t.label "Provide a name for this container:" %><br />
    <%= t.text_field :name %>
  </div>
  <div class="field">
    <%= t.label "Paste the container below:" %><br />
    <%= t.text_area :body %>
  </div>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>
